<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JHWaveform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JHWaveformView Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DD053F6161CEAFB0019D540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD05417161CEAFB0019D540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD05433161CEB6A0019D540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD05444161CEB6B0019D540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD05460161CF5950019D540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD05480161CF66A0019D540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD05491161CF66B0019D540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
